<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="album.css">
</head>
<body>
    <h1 th:text="${title}"></h1>
    <p th:text="${description}"></p>
    <img th:src="${baseImage}"/>
<br>
    <ul th:each="album: ${albums}">
        <li th:text="${album.title}"></li>
        <li th:text="${album.artist}"></li>
        <li th:text="${album.songCount}"></li>
        <ul th:each="song : ${album.songsInAlbum}">
            <li th:text="${song.title}"></li>
            <li th:text="${song.length}"></li>
            <li th:text="${song.trackNumber}"></li>
            <li th:text="${song.album}"></li>
        </ul>
        <li th:text="${album.length}"></li>
        <li th:src="${album.imageUrl}"></li>
        <form action="/add-song" method="post">
            <fieldset>
                <legend>Add song's to this Album</legend>
                <input type="text"name="songTitle">
                <input type="text"name="songLength">
                <input type="text"name="songTrackNumber">
                <input type="hidden"name="albumTitle"value="${album.title}">
                <input type="submit"value="Add a Song">
            </fieldset>
        </form>

    </ul>
    <form action="/album" method="post">
        <fieldset>
            <legend>Add an Album Here</legend>
            <lable for="title">Album Title</lable>
            <input type="text" name="title">
            <lable for="artist">Album Artist</lable>
            <input type="text" name="artist">
            <lable for="songCount">Number of Songs</lable>
            <input type="number" name="songCount">
            <lable for="length">Entire Length in Time</lable>
            <input type="number" name="length">
            <lable for="imageUrl">Album Image Link</lable>
            <input type="text" name="imageUrl">
            <input type="submit" value="Add Album">
        </fieldset>
    </form>
    <form action="/album" th:method="delete">
        <lable for="title">Delete by Album Title</lable>
        <input type="text" name="title">
        <input type="submit" value="Delete Album">
    </form>

</body>
</html>