<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="album.css">
</head>
<body>
    <h1 th:text="${title}"></h1>
    <p th:text="${description}"></p>
    <img th:src="${baseImage}"/>
<br>
    <ul th:each="album: ${albums}">
        <li th:text="${album.title}"></li>
        <li th:text="${album.artist}"></li>
        <li th:text="${album.songCount}"></li>
        <li th:text="${album.length}"></li>
        <li th:src="${album.imageUrl}"></li>

    </ul>
    <form action="/" method="post">
        <fieldset>
            <legend>Add an Album Here</legend>
            <lable for="title">Album Title</lable>
            <input type="text" name="title">
            <lable for="artist">Album Artist</lable>
            <input type="text" name="artist">
            <lable for="songCount">Number of Songs</lable>
            <input type="number" name="songCount">
            <lable for="length">Entire Length in Time</lable>
            <input type="number" name="length">
            <lable for="imageUrl">Album Image Link</lable>
            <input type="text" name="imageUrl">
            <input type="submit" value="Add Album">
        </fieldset>
    </form>

</body>
</html>